In [11]:
from fastapi import FastAPI
import pandas as pd
from sklearn.neighbors import NearestNeighbors

In [12]:
df = pd.read_csv('Dataset/df.csv', low_memory=False)
df.sample(5)

,Unnamed: 0,budget,id,original_language,overview,popularity,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,collection_name,genre_names,release_year,return,production_countries_names,production_companies_names
17280,17289,0.0,80941,en,A sailor helps two sisters start up a service ...,0.128616,1944-06-14,0.0,124.0,English,Released,M-G-M's ship-shapey musical!,Two Girls and a Sailor,4.5,NaN,Comedy|Romance,1944.0,0.00,United States of America,Metro-Goldwyn-Mayer (MGM)
12994,12999,0.0,14976,en,A young woman who has been in and out from reh...,13.44059,2008-10-03,0.0,113.0,English,Released,NaN,Rachel Getting Married,6.1,NaN,Drama,2008.0,0.00,United States of America,Clinica Estetico
19711,19726,165000000.0,82690,en,"Wreck-It Ralph is the 9-foot-tall, 643-pound v...",13.697597,2012-11-01,471222889.0,108.0,English,Released,The story of a regular guy just looking for a ...,Wreck-It Ralph,7.1,Wreck-It Ralph Collection,Family|Animation|Comedy|Adventure,2012.0,2.86,United States of America,Walt Disney Animation Studios
39730,39787,800000.0,309579,en,"Abdul Rahman, an African prince who was sold i...",0.010448,2008-02-04,0.0,58.0,English,Released,NaN,Prince Among Slaves,0.0,NaN,Documentary,2008.0,0.00,United States of America,"Spark Media, Unity Productions Foundation"
36502,36548,0.0,127329,cn,"A gorgeous lethal killer, brainwashed by the v...",1.170411,2012-08-15,0.0,94.0,广州话 / 廣州話|Français|普通话,Released,Extremely Dangerous!,Naked Soldier,4.6,Naked Collection,Action|Drama,2012.0,0.00,Hong Kong,Mega-Vision Pictures (MVP)

In [13]:
# def peliculas_mes(mes): '''Se ingresa el mes y la funcion retorna la cantidad de peliculas que se estrenaron 
# ese mes historicamente ''' return {'mes':mes, 'cantidad':respuesta}

def peliculas_mes(mes):
       
    meses = {
        'enero': 'January',
        'febrero': 'February',
        'marzo': 'March',
        'abril': 'April',
        'mayo': 'May',
        'junio': 'June',
        'julio': 'July',
        'agosto': 'August',
        'septiembre': 'September',
        'octubre': 'October',
        'noviembre': 'November',
        'diciembre': 'December'
    }
    
    df = pd.read_csv('Dataset/df.csv', low_memory=False)
    df = df.dropna(subset=['release_date'])
    
    df['release_date'] = pd.to_datetime(df['release_date'])
    df_mes = df[df['release_date'].dt.month_name() == meses[mes].capitalize()]
    respuesta = len(df_mes)
    
    return {'mes': mes, 'cantidad': respuesta}

In [14]:
peliculas_mes("enero")

{'mes': 'enero', 'cantidad': 5912}

In [15]:
def peliculas_dia(dia):
    dias = {
    'lunes': 'Monday',
    'martes': 'Tuesday',
    'miércoles': 'Wednesday',
    'miercoles': 'Wednesday',
    'jueves': 'Thursday',
    'viernes': 'Friday',
    'sábado': 'Saturday',
    'sabado': 'Saturday',
    'domingo': 'Sunday'
    }
    df = pd.read_csv('Dataset/df.csv', low_memory=False)
    df = df.dropna(subset=['release_date'])
    df['release_date'] = pd.to_datetime(df['release_date'])

    df_dia = df[df['release_date'].dt.day_name() == dias[dia].capitalize()]
    
    respuesta = len(df_dia)
    
    return {'dia': dia, 'cantidad': respuesta}

In [16]:
peliculas_dia('martes')

{'dia': 'martes', 'cantidad': 4641}

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45379 entries, 0 to 45378
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  45379 non-null  int64
 1   budget                      45376 non-null  float64
 2   id                          45379 non-null  object
 3   original_language           45368 non-null  object
 4   overview                    44438 non-null  object
 5   popularity                  45377 non-null  object
 6   release_date                45376 non-null  object
 7   revenue                     45379 non-null  float64
 8   runtime                     45130 non-null  float64
 9   spoken_languages            41488 non-null  object
 10  status                      45296 non-null  object
 11  tagline                     20398 non-null  object
 12  title                       45376 non-null  object
 13  vote_average                45376 non-null  float64
 14  collection_name             3165 non-null   object
 15  genre_names                 42995 non-null  object
 16  release_year                45376 non-null  float64
 17  return                      45379 non-null  float64
 18  production_countries_names  39165 non-null  object
 19  production_companies_names  33580 non-null  object
dtypes: float64(6), int64(1), object(13)
memory usage: 6.9+ MB

In [19]:
def peliculas_pais(pais):
    df = pd.read_csv('Dataset/df.csv', low_memory=False)

    df = df.dropna(subset=['production_countries_names'])
    df = df.drop_duplicates()

    num_movies = 0
    for countries in df['production_countries_names']:
        if pais in countries:
            num_movies += 1

    result = {'pais': pais, 'cantidad': num_movies}
    return result

In [20]:
peliculas_pais('United States of America')

{'pais': 'United States of America', 'cantidad': 21147}

In [22]:
def peliculas_pais(pais):
    df = pd.read_csv('Dataset/df.csv', low_memory=False)

    df = df.dropna(subset=['production_countries_names'])
    df = df.drop_duplicates()

    num_peliculas = 0
    for countries in df['production_countries_names']:
        if pais in countries:
            num_peliculas += 1

    return {'pais': pais, 'cantidad': num_peliculas}

In [23]:
peliculas_pais('Canada')

{'pais': 'Canada', 'cantidad': 1765}

In [24]:
def productoras(productora):
    
    
    df = pd.read_csv('Dataset/df.csv', low_memory=False)
    df = df.dropna(subset=['production_companies_names'])

    mask = df['production_companies_names'].apply(lambda x: productora in x)
    df_filtered = df[mask]

    ganancia_total = df_filtered['revenue'].sum()
    cantidad = len(df_filtered)

    return {'productora': productora, 'ganancia_total': int(ganancia_total), 'cantidad': cantidad}

In [25]:
productoras('Twentieth Century Fox')

{'productora': 'Twentieth Century Fox',
 'ganancia_total': 52522289084,
 'cantidad': 856}

In [31]:

def franquicia(franquicia):
    # Filtrar las películas de la franquicia especificada
    franquicia_df = df[df['collection_name'].str.contains(franquicia, na=False)]

    # Obtener la cantidad de películas en la franquicia
    cantidad = len(franquicia_df)

    # Calcular la ganancia total y promedio de la franquicia
    ganancia_total = franquicia_df['revenue'].sum()
    ganancia_promedio = franquicia_df['revenue'].mean()

    # Retornar la información de la franquicia
    return {'franquicia': franquicia, 'cantidad': cantidad, 'ganancia_total': ganancia_total, 'ganancia_promedio': ganancia_promedio}

In [32]:
franquicia('Toy Story')

{'franquicia': 'Toy Story',
 'cantidad': 3,
 'ganancia_total': 1937890605.0,
 'ganancia_promedio': 645963535.0}

In [37]:
def retorno(pelicula):
      
    df = pd.read_csv('Dataset/df.csv', low_memory=False)
    df = df.dropna(subset=['return'])
    
    datos_pelicula = df.loc[df['title'] == pelicula]
    inversion = datos_pelicula['budget'].values[0]
    ganancia = datos_pelicula['revenue'].values[0]
    retorno = datos_pelicula['return'].values[0]
    anio = datos_pelicula['release_year'].values[0]
    

    return {'pelicula': pelicula, 'inversion': inversion, 'ganancia': ganancia, 'retorno': retorno, 'anio': anio}

In [38]:
retorno('Toy Story')

{'pelicula': 'Toy Story',
 'inversion': 30000000.0,
 'ganancia': 373554033.0,
 'retorno': 12.45,
 'anio': 1995.0}

In [45]:
def recomendacion(titulo):
    generodf = df['genre_names'].str.get_dummies('|')
    k = 10
    knn = NearestNeighbors(n_neighbors=k+1, algorithm='auto')
    knn.fit(generodf)
    indices = knn.kneighbors(generodf.loc[df['title'] == titulo])[1].flatten()
    recomendadas = list(df.iloc[indices]['title'])
    recomendadas = sorted(recomendadas, key=lambda x: df.loc[df['title'] == x]['vote_average'].values[0], reverse=True)[:5]
    return {'recomendacion': recomendadas}

In [46]:
recomendacion('Frozen')

{'recomendacion': ['Back to School with Franklin',
  'Rebirth',
  'The Fox',
  'Like Father, Like Son',
  'The Little Fox']}