In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
moviesdf = pd.read_csv('Dataset/movies_dataset.csv', low_memory=False)
moviesdf.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
# Dimensiones del dataframe
moviesdf.shape

(45466, 24)

In [4]:
# Vemos informacion del dataframe
moviesdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [5]:
# Miramos cantidad de filas por columnas que tiene el dataframe
moviesdf.shape

(45466, 24)

In [6]:
# Miramos cantidad de valores nulos que tiene la columna belongs_to_collection'
moviesdf['belongs_to_collection'].isnull().sum()

40972

In [7]:
# Imputamos los valores faltantes en la columna 'belongs_to_collection' con la cadena vacía ''
moviesdf['belongs_to_collection'].fillna('', inplace=True)

In [8]:
# Miramos los valores unicos de la columna a transformar
moviesdf['belongs_to_collection'].unique()

array(["{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}",
       '',
       "{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}",
       ...,
       "{'id': 148603, 'name': 'Ducobu Collection', 'poster_path': '/rd7AWZUy2QFPIblNWToVmdfXQcA.jpg', 'backdrop_path': '/7mzKmoIrvGapvsSbAVlX4HtCnFj.jpg'}",
       "{'id': 152918, 'name': 'Mister Blot Collection', 'poster_path': '/44PYEwwjGts8pAob59RHd6zlkKc.jpg', 'backdrop_path': '/5uoPsNiFpUYNamSGqE8okN27VRK.jpg'}",
       "{'id': 200641, 'name': 'Red Lotus Collection', 'poster_path': '/yf9Eod9ANXyHTzDpAxz9ezgvlL4.jpg', 'backdrop_path': '/3fhHbLeO3DqdHvgHg5szs399eBb.jpg'}"],
      dtype=object)

In [9]:
# Observamos 5 valores aleatoros de nuestro dataset
moviesdf.sample(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
15357,False,,2000000,"[{'id': 18, 'name': 'Drama'}]",http://www.wintersbonemovie.com/,39013,tt1399683,en,Winter's Bone,17 year-old Ree Dolly sets out to track down h...,...,2010-06-11,13831503.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Talking Just Causes Witnesses,Winter's Bone,False,6.8,575.0
27944,False,,0,"[{'id': 18, 'name': 'Drama'}]",NaN,88599,tt1754003,es,Karen llora en un bus,"Karen discovers, after 10 years of marriage, s...",...,2011-05-13,0.0,98.0,"[{'iso_639_1': 'es', 'name': 'Español'}]",Released,NaN,Karen Cries on the Bus,False,7.5,4.0
22104,False,,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",NaN,27294,tt0088963,en,Crime Wave,"A young director intent on making ""the greates...",...,1985-04-12,0.0,80.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,He was a quiet man...,Crime Wave,False,5.9,7.0
142,False,"{'id': 14890, 'name': 'Bad Boys Collection', '...",19000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,9737,tt0112442,en,Bad Boys,Marcus Burnett is a hen-pecked family man. Mik...,...,1995-04-07,141407024.0,118.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Whatcha gonna do?,Bad Boys,False,6.5,1729.0
33521,False,,0,[],NaN,61829,tt0049634,it,Poveri ma belli,Salvatore and Romolo are two young and poor yo...,...,1957-12-30,0.0,0.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Poor But Beautiful,False,7.3,12.0

In [10]:
# Normalizamos primero las comillas para la columna belongs_to_collection:

import json

def fix_quotes(x):
    if pd.isnull(x):
        return x
    try:
        return json.loads(x.replace("'", '"'))
    except json.JSONDecodeError:
        return {}

moviesdf['belongs_to_collection'] = moviesdf['belongs_to_collection'].apply(fix_quotes)

In [ ]:
# Este ciclo for imprime los nombres de las colecciones si existen y None si no hay una colección asociada a la película.

for collection in moviesdf['belongs_to_collection']:
    if collection is not None:
        print(collection.get('name'))

In [12]:
# Creamos una nueva columna en el dataframe llamada collection_name y le asignamos los valores de la colección en formato de cadena de caracteres

moviesdf['collection_name'] = moviesdf['belongs_to_collection'].apply(lambda x: x.get('name') if isinstance(x, dict) else None)

In [13]:
# De nuevo volvemos a ver informacion de los datos
moviesdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  45466 non-null  object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
 24  collection_name        3168 non-null   object
dtypes: float64(4), object(21)
memory usage: 8.7+ MB

In [14]:
# Observamos si se creo la nueva columna,'collection_name'
moviesdf.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection_name
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection
1,False,{},65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,None
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection
3,False,{},16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,None
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection

In [15]:
# Eliminamos la columna belongs_to_collection, porque ya logramos con la nueva columna collection_name extraer y mostrar los nombres de las series
moviesdf = moviesdf.drop('belongs_to_collection', axis=1)

In [16]:
# De nuevo miramos los datos de los campos o columnas
moviesdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 45466 non-null  object
 1   budget                45466 non-null  object
 2   genres                45466 non-null  object
 3   homepage              7782 non-null   object
 4   id                    45466 non-null  object
 5   imdb_id               45449 non-null  object
 6   original_language     45455 non-null  object
 7   original_title        45466 non-null  object
 8   overview              44512 non-null  object
 9   popularity            45461 non-null  object
 10  poster_path           45080 non-null  object
 11  production_companies  45463 non-null  object
 12  production_countries  45463 non-null  object
 13  release_date          45379 non-null  object
 14  revenue               45460 non-null  float64
 15  runtime               45203 non-null  float64
 16  spoken_languages      45460 non-null  object
 17  status                45379 non-null  object
 18  tagline               20412 non-null  object
 19  title                 45460 non-null  object
 20  video                 45460 non-null  object
 21  vote_average          45460 non-null  float64
 22  vote_count            45460 non-null  float64
 23  collection_name       3168 non-null   object
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [17]:
# Miramos el dataframe y observaos que la columna genres tiene datos tipo diccionario, que debenos transformar
moviesdf.head()

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection_name
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,None
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,None
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection

In [18]:
# Convertios las comillas simples en comillas dobles en la columna 'genres' del dataframe 'moviesdf', utilizando la biblioteca json. Luego aplicamos 
# la función 'get_genre_name' a la columna 'genres' para obtener el nombre del género en formato de cadena de texto separado por "|" en la nueva 
# columna 'genre_names'.

import json

def fix_quotes(x):
    if pd.isnull(x):
        return x
    try:
        return json.loads(x.replace("'", '"'))
    except json.JSONDecodeError:
        return []
        
moviesdf['genres'] = moviesdf['genres'].apply(fix_quotes)

def get_genre_name(genre_list):
    names = [genre['name'] for genre in genre_list]
    return '|'.join(names) if names else None

moviesdf['genre_names'] = moviesdf['genres'].apply(get_genre_name)

In [19]:
moviesdf.head()

,adult,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection_name,genre_names
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,Animation|Comedy|Family
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,None,Adventure|Fantasy|Family
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection,Romance|Comedy
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,None,Comedy|Drama|Romance
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection,Comedy

In [ ]:
# Con este ciclo se recorre cada fila de la columna "genre_names", luego para cada fila se valida si el valor en la columna "genre_names" 
# es diferente de None. Si el valor no es nulo, se divide el valor en una lista de géneros utilizando el carácter '|' como separador de elementos 
# y se guarda como la variable "genre_list". 

for genres in moviesdf['genre_names']:
    if genres is not None:
        genre_list = genres.split('|')
        for genre in genre_list:
            print(genre)
    else:
        print('No genres')

In [21]:
# Eliminamos la columna original
moviesdf.drop(columns=['genres'], inplace=True)

In [22]:
# Miramos los cambios realizados
moviesdf

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection_name,genre_names
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,Animation|Comedy|Family
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,None,Adventure|Fantasy|Family
2,False,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection,Romance|Comedy
3,False,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,None,Comedy|Drama|Romance
4,False,0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection,Comedy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,0,http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,0.072051,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,...,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0,None,Drama|Family
45462,False,0,NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,0.178241,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,...,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0,None,Drama
45463,False,0,NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",0.903007,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0,None,Action|Drama|Thriller
45464,False,0,NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",0.003503,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,...,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0,None,None
45465,False,0,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,0.163015,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg,...,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0,None,None

In [23]:
# Se transforma la columna spoken_languages que contienen datos en formato json, luego definimos una función parse_json que acepta una cadena json (x), 
# intentamos parsearla a un objeto Jjson, para que devuelva el objeto si tiene éxito; si no, devuelve un diccionario vacío ({}). Después, la columna 
# "spoken_languages" se convierte utilizando esta función, es decir que se reemplazan los valores presentes en dicha columna que son 
# cadenas json con los respectivos objetos json producidos por parse_json.

def parse_json(x):
    try:
        return json.loads(x.replace("'", "\""))
    except:
        return {}

moviesdf["spoken_languages"] = moviesdf["spoken_languages"].apply(parse_json)

# Definimos una segunda función get_spoken_languages que espera un objeto json (x). Si el objeto es un diccionario vacío, devuelve la cadena "No languages", 
# de lo contrario, combina los nombres de idiomas contenidos en este objeto json en una sola cadena separada por "|" y devuelve esta cadena.

def get_spoken_languages(x):
    if x == {}:
        return "No languages"
    else:
        return "|".join([d["name"] for d in x])

moviesdf["spoken_languages"] = moviesdf["spoken_languages"].apply(get_spoken_languages)
print(moviesdf["spoken_languages"])

0                 English
1        English|Français
2                 English
3                 English
4                 English
               ...
45461               فارسی
45462
45463             English
45464
45465             English
Name: spoken_languages, Length: 45466, dtype: object

In [24]:
# Miramos los cambios en el dataframe
moviesdf.head()

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection_name,genre_names
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,81.0,English,Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,Animation|Comedy|Family
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,104.0,English|Français,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,None,Adventure|Fantasy|Family
2,False,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection,Romance|Comedy
3,False,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,127.0,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,None,Comedy|Drama|Romance
4,False,0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,106.0,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection,Comedy

In [25]:
# Rellenamos los valores nulos de los campos revenue, budget con el número 0.
moviesdf['revenue'] = moviesdf['revenue'].fillna(0)
moviesdf['budget'] = moviesdf['budget'].fillna(0)

In [26]:
# Miramos el formaro del campo 'release_date'
moviesdf['release_date']

0        1995-10-30
1        1995-12-15
2        1995-12-22
3        1995-12-22
4        1995-02-10
            ...
45461           NaN
45462    2011-11-17
45463    2003-08-01
45464    1917-10-21
45465    2017-06-09
Name: release_date, Length: 45466, dtype: object

In [27]:
# Miramos el número de valores nulos en la columna "release_date"
num_null = moviesdf['release_date'].isnull().sum()
num_null

87

In [28]:
# Eliminamos todas las filas con valores nulos en la columna "release_date"
moviesdf.dropna(subset=['release_date'], inplace=True)

In [29]:
moviesdf.shape

(45379, 24)

In [30]:
# Miramos los cambios
moviesdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45379 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   adult                 45379 non-null  object
 1   budget                45379 non-null  object
 2   homepage              7769 non-null   object
 3   id                    45379 non-null  object
 4   imdb_id               45365 non-null  object
 5   original_language     45368 non-null  object
 6   original_title        45379 non-null  object
 7   overview              44438 non-null  object
 8   popularity            45377 non-null  object
 9   poster_path           45040 non-null  object
 10  production_companies  45379 non-null  object
 11  production_countries  45379 non-null  object
 12  release_date          45379 non-null  object
 13  revenue               45379 non-null  float64
 14  runtime               45130 non-null  float64
 15  spoken_languages      45379 non-null  object
 16  status                45296 non-null  object
 17  tagline               20398 non-null  object
 18  title                 45376 non-null  object
 19  video                 45376 non-null  object
 20  vote_average          45376 non-null  float64
 21  vote_count            45376 non-null  float64
 22  collection_name       3165 non-null   object
 23  genre_names           42995 non-null  object
dtypes: float64(4), object(20)
memory usage: 8.7+ MB

In [31]:
# De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna release_year donde extraerán el año de la fecha de estreno.

# Convertimos la columna release_date en tipo datetime
moviesdf['release_date'] = pd.to_datetime(moviesdf['release_date'], errors='coerce')

In [32]:
# Verificamos que los valores de release_date estén en formato de fecha
print(moviesdf['release_date'].dt.strftime('%Y-%m-%d').head())

0    1995-10-30
1    1995-12-15
2    1995-12-22
3    1995-12-22
4    1995-02-10
Name: release_date, dtype: object

In [33]:
# Creamos una nueva columna release_year
moviesdf['release_year'] = moviesdf['release_date'].dt.year

In [34]:
# Validamos los cambios en el dataframe
moviesdf.head()

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection_name,genre_names,release_year
0,False,30000000,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,English,Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,Animation|Comedy|Family,1995.0
1,False,65000000,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,English|Français,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,None,Adventure|Fantasy|Family,1995.0
2,False,0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection,Romance|Comedy,1995.0
3,False,16000000,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,None,Comedy|Drama|Romance,1995.0
4,False,0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection,Comedy,1995.0

In [35]:
# Convertimos la columna budget primero a tipo numérico para poder hacer el calculo con revenue
moviesdf['budget'] = pd.to_numeric(moviesdf['budget'], errors='coerce')

In [36]:
# Creamos la columna return
moviesdf['return'] = moviesdf.apply(lambda row: round(row['revenue'] / row['budget'], 2) if row['budget'] > 0 else 0, axis=1)

In [37]:
# Validamos los cambios realizados
moviesdf.head(5)

,adult,budget,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,...,status,tagline,title,video,vote_average,vote_count,collection_name,genre_names,release_year,return
0,False,30000000.0,http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,...,Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,Animation|Comedy|Family,1995.0,12.45
1,False,65000000.0,NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,None,Adventure|Fantasy|Family,1995.0,4.04
2,False,0.0,NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection,Romance|Comedy,1995.0,0.00
3,False,16000000.0,NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,None,Comedy|Drama|Romance,1995.0,5.09
4,False,0.0,NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection,Comedy,1995.0,0.00

In [38]:
# Eliminamos las columnas que no utilizaremos en el proyecto
moviesdf = moviesdf.drop(columns=['video', 'imdb_id', 'adult', 'original_title', 'vote_count', 'poster_path', 'homepage'])

In [39]:
# Validamos si se eliminaron las columnas
moviesdf.head(5)

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,collection_name,genre_names,release_year,return
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,Toy Story Collection,Animation|Comedy|Family,1995.0,12.45
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,English|Français,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,None,Adventure|Fantasy|Family,1995.0,4.04
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,Grumpy Old Men Collection,Romance|Comedy,1995.0,0.00
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,None,Comedy|Drama|Romance,1995.0,5.09
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,Father of the Bride Collection,Comedy,1995.0,0.00

In [40]:
moviesdf.shape

(45379, 19)

In [41]:
# Funcion para obtener el nombre de los objetos anidados

def get_object_names(x):
    try:
        object_list = eval(x)
        object_names = [object_dict['name'] for object_dict in object_list]
        return ', '.join(object_names)
    except:
        return ''

In [42]:
# Creamos una nueva columna como nombre de los paises productores  
moviesdf['production_countries_names'] = moviesdf['production_countries'].apply(get_object_names)

In [43]:
# Creamos una nueva columna, como nombre produccion companias
moviesdf['production_companies_names'] = moviesdf['production_companies'].apply(get_object_names)

In [44]:
moviesdf.head(5)

,budget,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,...,status,tagline,title,vote_average,collection_name,genre_names,release_year,return,production_countries_names,production_companies_names
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,...,Released,NaN,Toy Story,7.7,Toy Story Collection,Animation|Comedy|Family,1995.0,12.45,United States of America,Pixar Animation Studios
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,...,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,None,Adventure|Fantasy|Family,1995.0,4.04,United States of America,"TriStar Pictures, Teitler Film, Interscope Com..."
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,Grumpy Old Men Collection,Romance|Comedy,1995.0,0.00,United States of America,"Warner Bros., Lancaster Gate"
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,None,Comedy|Drama|Romance,1995.0,5.09,United States of America,Twentieth Century Fox Film Corporation
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,Father of the Bride Collection,Comedy,1995.0,0.00,United States of America,"Sandollar Productions, Touchstone Pictures"

In [45]:
# Eliminamos estas columnas, porque ya fueron transformadas y nombradas como production_countries_names
moviesdf = moviesdf.drop('production_countries', axis=1)

In [46]:
# Eliminamos estas columnas, porque ya fueron transformadas y nombradas como production_companies_names
moviesdf = moviesdf.drop('production_companies', axis=1)

In [47]:
moviesdf.head(5)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,collection_name,genre_names,release_year,return,production_countries_names,production_companies_names
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,Toy Story Collection,Animation|Comedy|Family,1995.0,12.45,United States of America,Pixar Animation Studios
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,English|Français,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,None,Adventure|Fantasy|Family,1995.0,4.04,United States of America,"TriStar Pictures, Teitler Film, Interscope Com..."
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,Grumpy Old Men Collection,Romance|Comedy,1995.0,0.00,United States of America,"Warner Bros., Lancaster Gate"
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,None,Comedy|Drama|Romance,1995.0,5.09,United States of America,Twentieth Century Fox Film Corporation
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,Father of the Bride Collection,Comedy,1995.0,0.00,United States of America,"Sandollar Productions, Touchstone Pictures"

In [48]:
moviesdf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45379 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   budget                      45376 non-null  float64
 1   id                          45379 non-null  object
 2   original_language           45368 non-null  object
 3   overview                    44438 non-null  object
 4   popularity                  45377 non-null  object
 5   release_date                45376 non-null  datetime64[ns]
 6   revenue                     45379 non-null  float64
 7   runtime                     45130 non-null  float64
 8   spoken_languages            45379 non-null  object
 9   status                      45296 non-null  object
 10  tagline                     20398 non-null  object
 11  title                       45376 non-null  object
 12  vote_average                45376 non-null  float64
 13  collection_name             3165 non-null   object
 14  genre_names                 42995 non-null  object
 15  release_year                45376 non-null  float64
 16  return                      45379 non-null  float64
 17  production_countries_names  45379 non-null  object
 18  production_companies_names  45379 non-null  object
dtypes: datetime64[ns](1), float64(6), object(12)
memory usage: 6.9+ MB

In [49]:
print(moviesdf['release_date'].dtype)

datetime64[ns]

In [330]:
# Por ultimo convertimos nuestro dataframe ya transformado a un nuevo archivo .csv para trabajarlo en el archivo main.py 
moviesdf = pd.DataFrame(moviesdf)
moviesdf.to_csv("df.csv")